modules = ["nodejs-20", "web"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 24986
externalPort = 3000

[[ports]]
localPort = 24987
externalPort = 3002

[[ports]]
localPort = 25729
externalPort = 80

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
POSTGRES_URL = "postgresql://neondb_owner:npg_NHSO0ZVXlC7e@ep-still-dawn-amq5bybq-pooler.c-5.us-east-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require"
OMDB_API_KEY = "3850ae42"
VITE_OMDB_API_KEY = "3850ae42"
NEON_DATABASE_URL = "postgresql://neondb_owner:npg_NHSO0ZVXlC7e@ep-still-dawn-amq5bybq-pooler.c-5.us-east-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require"
