modules = ["nodejs-20"]
[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3002

[[ports]]
localPort = 5002
externalPort = 3001

[[ports]]
localPort = 23636
externalPort = 3000

[nix]
channel = "stable-25_05"
packages = ["gh"]

[userenv]

[userenv.shared]
GIST_ID = "ba250f944e3e9e71c0d669060254eab2"
VITE_GIST_ID = "ba250f944e3e9e71c0d669060254eab2"
VITE_OMDB_API_KEY = "107d93368d2a51a595e29a63910446ee"
SESSION_SIGNING_SECRET = "62a941b9aadf202e7f671812b9fca953e285988cf77b67294f0440fce4d50b23fedbafbbc9cef70d85d276d3da667862"

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 120000
